.var-side
  .user
    %h3.user__name
      = current_user.name
    %ul.user__lists
      %li.list
        -# = link_to 
        -#   = fa_icon 
      %li.icon
        -# = link_to 
        -#   = fa_icon 
  .groups
    .group
        -# = link_to 
          .group__name
            = group.name
          .group__message
            = group.show_last_message
