-# .notification
-#   .notice

.wrapper
  =render partial: "modules/var_side"
  .main
    .header
      .left-header
        .left-header__title
        %ul.left-header__members
          Member：
          %li.member
      .right-header
        %a.right-header__button
    .messages

    -# .form
    -#    .form__mask
