.var-side {
  box-sizing: border-box;
  color: #fff;
  width: 300px;
  .user {
      background-color: #253141;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
        &__name {
          font-size: 16px;
          font-weight: bold;
          display: inline-block;
        }
        &__lists{
          display: inline-block;
          float: right;
          .list{
            display: inline-block;
          }
          .icon{
            color: $white-color;
            font-size: 16px;
          }
        }
      }
      .groups{
          background-color: #2f3e51;
          height: calc(100vh - 100px);
          padding: 0 20px;
           .group{
              box-sizing: border-box;
              padding: 20px 0 40px;
              &__name{
                color: $white-color;
                font-size: 15px;
              }
              &__message{
                font-size: 11px;
                color: $white-color;
                margin-top: 5px;
              }
      }
  }
}